@use '../mixins';
@use '../media';

.body {
	font-family: var(--Georgia-regular);
	font-weight: 400;

	&_fixed {
		overflow: hidden;
	}

	&_popup_fixed {
		overflow: hidden;
	}
}

.container {
	margin: 0 auto;
	padding-inline: var(--padding-contentInline);
	max-width: var(--content-width);
	box-sizing: content-box;
}

.title {
	@include mixins.fluid-text(25, 768, 35);
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 2.1px;
	text-align: left;
	color: var(--dark__84);

	@include media.bigMobile {
		letter-spacing: 1.5px;
		text-align: center;
	}
}

.subtitle {
	font-family: 'Arial', 'sans-serif';
	font-size: 15px;
	line-height: 160%;
	letter-spacing: 0;
	text-align: left;

	@include media.bigMobile {
		text-align: justify;
	}
}

.subtitle-animal {
	color: var(--dark__84);
	font-size: 20px;
	line-height: 23px;
	text-align: center;

	@include media.desktop {
		letter-spacing: 1.2px;
	}

	@include media.bigMobile {
		letter-spacing: 1px;
	}
}