body {
	font-family: var(--Georgia-regular);
	font-weight: 400;
}

.container {
	margin: 0 auto;
	padding-inline: var(--padding-contentInline);
	max-width: var(--content-width);
	box-sizing: content-box;
}

.burger {
	display: none;
	position: relative;
	@include sizes(30px, 22px);
	cursor: pointer;

	@include bigMobile {
		display: block;
	}

	&__line {
		position: absolute;
		display: inline-block;
		width: 30px;
		border-bottom: 2px solid var(--nav__active-color);
		transition: var(--transition);

		&:nth-of-type(1) {
			top: 0px;
		}

		&:nth-of-type(2) {
			top: 10px;
		}

		&:nth-of-type(3) {
			top: 20px;
		}
	}
}

.title {
	font-family: Georgia;
	@include fluid-text(25, 768, 35);
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 1.6px;
	text-align: left;
	color: var(--dark__84);

	@include bigMobile {
		text-align: center;
	}
}

.subtitle {
	font-family: 'Arial', 'sans-serif';
	font-size: 15px;
	font-weight: 400;
	line-height: 160%;
	letter-spacing: 0px;
	text-align: left;

	@include bigMobile {
		text-align: justify;
	}
}

.subtitle-animal {
	color: rgb(84, 84, 84);
	font-family: Georgia;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 6%;
	text-align: center;
}
