@use '../mixins';
@use '../media';

.footer {
	background: var(--brown-background);

	.container {
		padding-top: 40px;

		@include media.desktop {
			padding: 26px 30px 0;
		}

		@include media.bigMobile {
			padding-inline: 10px;
		}
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		column-gap: 160px;

		@include media.desktop {
			justify-content: center;
			align-items: center;
			gap: 0 60px;
		}
	}

	&__contacts {
		padding-top: 16px;

		&:first-of-type {
			max-width: 278px;

			& .footer__contacts-title {
				margin-bottom: 40px;

				@include media.desktop {
					margin-bottom: 36px;
				}
			}

			@include media.bigMobile {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 0;
			}
		}

		&:last-of-type {
			max-width: 302px;

			& .footer__contacts-title {
				margin-bottom: 34px;

				@include media.desktop {
					margin-bottom: 31px;
				}

				@include media.bigMobile {
					margin-bottom: 39px;
				}
			}
		}

		@include media.desktop {
			padding-top: 0;
			margin-bottom: 65px;
		}

		@include media.bigMobile {
			margin-bottom: 0;
		}
	}

	&__contacts-title {
		color: var(--white_255);
		letter-spacing: 2px;

		@include media.bigMobile {
			max-width: 294px;
			letter-spacing: 1.5px;
		}
	}

	&__contacts-link {
		display: flex;
		align-items: center;

		&:first-of-type {
			margin-bottom: 32px;

			@include media.desktop {
				margin-bottom: 36px;
			}
		}

		@include media.bigMobile {
			&:first-of-type {
				margin-bottom: 37px;
			}

			&:last-of-type {
				margin-bottom: 40px;
			}
		}
	}

	&__contacts-link-svg {
		margin-right: 20px;
		@include mixins.sizes(40px, 36px);
	}

	&__contacts-link-marker {
		margin-right: 20px;
		min-width: 22px;
		height: 32px;
	}

	&__contacts-link-text {
		color: var(--orange);
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 1.2px;
	}

	&__picture-image {
		width: clamp(260px, 60vw, 300px);
	}
}