@use '../media';
@use '../mixins';

.header {
	background: var(--brown-background);

	.container {
		padding-top: 30px;

		@include media.desktop {
			padding-inline: 30px;
		}

		@include media.bigMobile {
			padding-inline: 20px;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.logo {
	&__title {
		margin-bottom: 10px;
		font-size: 32px;
		line-height: 110%;
		letter-spacing: 2px;
		color: var(--orange);
	}

	&__subtitle {
		margin-left: 4px;
		color: var(--white_255);
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 1.3px;
	}
}

.nav {
	color: var(--dark__205);

	&__list {
		display: flex;
		column-gap: 36px;

		@include media.bigMobile {
			position: fixed;
			right: 0;
			top: 0;
			flex-direction: column;
			align-items: center;
			row-gap: 38px;
			padding-block: 248px;
			@include mixins.sizes(320px, 100dvh);
			background: var(--dark__buttons);
			z-index: 1;
			transform: translateX(200%);
			transition: transform 0.5s ease-in-out;
		}

		&_active {
			transform: translateX(0);
			box-shadow: 0 0 0 9999px rgb(0 0 0 / 60%);
		}
	}

	&__item {
		border-bottom: 3px solid transparent;
		cursor: pointer;
		transition: var(--transition);

		@include media.hover {
			color: var(--white_250);
		}

		&:active {
			color: var(--white_250);
			border-bottom: var(--nav__active-border);
		}

		&:first-of-type {
			color: var(--white_250);
			border-bottom: var(--nav__active-border);
		}

		@include media.bigMobile {
			font-size: 32px;
		}
	}
}

.burger {
	display: none;
	flex-direction: column;
	row-gap: 8.5px;
	position: relative;
	z-index: 2;
	@include mixins.sizes(30px, 22px);
	cursor: pointer;
	transition: var(--transition);

	&::before {
		content: '';
		position: absolute;
		display: block;
		top: -15px;
		left: -15px;
		right: -15px;
		bottom: -15px;
	}

	@include media.bigMobile {
		display: flex;
	}

	&__line {
		border-bottom: 2px solid var(--nav__active-color);
	}

	&_active {
		transform: rotate(90deg);
	}
}