@use '../mixins';
@use '../media';

.help {
	background: var(--white_255);

	.container {
		padding-block: 80px 100px;

		@include media.desktop {
			padding-inline: 40px;
		}

		@include media.bigMobile {
			padding-block: 40px;
			padding-inline: 15px;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-inline: 87px;

		@include media.desktop {
			padding-inline: 0;
		}
	}

	&__title {
		margin-bottom: 58px;
		text-align: center;

		@include media.bigMobile {
			margin-bottom: 39px;
		}
	}

	&__icons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 56px 121px;

		@include media.desktop {
			gap: 55px 0;
		}

		@include media.bigMobile {
			gap: 24.6px 29px;
			justify-content: flex-start;
		}
	}

	&__icons-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include media.desktop {
			width: 33.3%;
		}

		@include media.bigMobile {
			width: 45%;
		}
	}

	&__icons-svg {
		@include mixins.sizes(60px, 60px);
		margin-bottom: 30px;

		@include media.bigMobile {
			@include mixins.sizes(50px, 50px);
			margin-bottom: 20px;
		}
	}

	&__icons-text {
		@include mixins.fluid-text(15, 767, 20);
	}
}