@use '../media';

.about {
	background: var(--white_255);

	.container {
		padding-block: 78px 100px;

		@include media.desktop {
			padding-inline: 165px;
		}

		@include media.bigMobile {
			padding: 40px 10px;
		}
	}

	&__inner {
		display: flex;
		margin-inline: 175px;

		@include media.desktop {
			flex-direction: column-reverse;
			align-items: center;
			margin-inline: 0;
		}
	}

	&__picture {
		margin-right: 120px;

		@include media.desktop {
			margin-right: 0;
		}

		&-image {
			width: clamp(260px, 78vw, 300px);
		}
	}

	&__info {
		padding-top: 12px;

		@include media.desktop {
			padding-top: 0;
			max-width: 430px;
		}

		@include media.bigMobile {
			padding-inline: 15px;
			max-width: 300px;
		}
	}

	&__info-title {
		margin-bottom: 23px;
		text-wrap: balance;
	}

	&__info-subtitle {
		color: var(--dark__76);

		&:not(:last-of-type) {
			margin-bottom: 25px;
		}

		@include media.desktop {
			&:last-of-type {
				margin-bottom: 80px;
			}
		}

		@include media.bigMobile {
			max-width: 266px;

			&:not(:last-of-type) {
				margin-bottom: 22px;
			}

			&:last-of-type {
				margin-bottom: 42px;
			}
		}
	}
}