@use '../mixins';
@use '../media';
@use '../commonPetsSectionStyles.scss' as commonPetsStyles;
@use '../slider-animations';

.pets {
	background: var(--white_246);

	.container {
		padding-block: 75px 100px;

		@include media.desktop {
			padding-inline: 30px;
		}

		@include media.bigMobile {
			padding: 40px 10px 42px;
		}
	}

	&__arrow {
		@include mixins.setArrowStyles;


		&:first-of-type {
			@include mixins.setArrowPosition('left')
		}

		&:last-of-type {
			@include mixins.setArrowPosition('right')
		}

		&_moveLeftAnimation {
			@include slider-animations.setSliderAnimation('left');
		}

		&_moveRightAnimation {
			@include slider-animations.setSliderAnimation('right');
		}

		&-svg {
			position: absolute;
			top: calc(50% - 3px);
			left: calc(50% - 7px);
			@include mixins.sizes(14px, 6px);
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	&__title {
		margin-bottom: 60px;
		max-width: 400px;
		text-align: center;

		@include media.bigMobile {
			margin-bottom: 41px;
			max-width: 300px;
		}
	}

	&__images {
		display: flex;
		align-items: center;
		align-self: flex-start;
		gap: 0 90px;
		align-self: center;
		margin-bottom: 60px;
		max-width: 990px;
		overflow: hidden;

		@include media.desktop {
			gap: 0 40px;
			max-width: 580px;
		}

		@include media.bigMobile {
			position: relative;
			margin-bottom: 116px;
			max-width: 270px;
		}
	}

	@include commonPetsStyles.commonPetsStyles;

	&__link {
		padding: var(--buttons-padding);
		color: var(--dark__buttons);
		background: var(--nav__active-color);
		border-radius: var(--buttons-borderRadius);
		font-size: 17px;
		line-height: 130%;
		letter-spacing: 1px;
		transition: var(--transition);

		@include media.hoverAndActive {
			background: var(--orange_hover);
		}
	}
}