.donation {
	font-weight: 400;
	text-align: left;
	background: var(--white_246);
	color: var(--dark__84);

	.container {
		padding: 80px 182px 100px;

		@include desktop {
			padding: 80px 132px 100px;
		}

		@include bigMobile {
			padding: 42px 10px;
		}
	}

	&__inner {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;

		@include desktop {
			flex-direction: column;
		}
	}

	&__info {
		max-width: 380px;

		@include bigMobile {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 300px;
		}
	}

	&__info-title {
		margin-bottom: 20px;
		max-width: 300px;
		line-height: 130%;
		letter-spacing: 2px;

		@include bigMobile {
			text-align: center;
		}
	}

	&__info-subtitle {
		margin-bottom: 20px;
		font-size: 15px;
		line-height: 110%;
		letter-spacing: 0.9px;

		@include bigMobile {
			line-height: 160%;
			letter-spacing: 0px;
		}
	}

	&__info-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: 15px;
		margin-bottom: 20px;
		@include sizes(349px, 43px);
		border-radius: 9px;
		background: var(--nav__active-color);
		transition: var(--transition);

		@include hover {
			background: var(--orange_hover);
		}

		@include hover-none {
			background: var(--orange_hover);
		}

		@include bigMobile {
			width: 281px;
		}
	}

	&__link-svg {
		@include sizes(30px, 30px);
	}

	&__link-text {
		font-size: 20px;
		letter-spacing: 1.2px;

		@include bigMobile {
			font-size: 15px;
		}
	}

	&__info-description {
		color: rgb(178, 178, 178);
		font-family: Arial;
		font-style: italic;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0px;

		@include desktop {
			margin-bottom: 60px;
		}

		@include bigMobile {
			padding-inline: 10px;
			margin-bottom: 42px;
			text-align: justify;
		}
	}

	&__picture-image {
		width: 505px;

		@include bigMobile {
			width: clamp(260px, 66vw, 505px);
		}
	}
}
