$desktop: 1279px;
$big-mobile: 767px;
$small-mobile: 380px;

@mixin desktop {
	@media only screen and (max-width: $desktop) {
		@content;
	}
}

@mixin bigMobile {
	@media only screen and (max-width: $big-mobile) {
		@content;
	}
}

@mixin smallMobile {
	@media only screen and (max-width: $small-mobile) {
		@content;
	}
}

@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}

@mixin hover-none {
	@media (hover: none) {
		&:active {
			@content;
		}
	}
}
