@mixin fluid-text($min: 13, $content-width, $max: 46) {
	font-size: clamp(#{$min}px, #{$max / $content-width * 100}vw, #{$max}px);
}

@mixin sizes($width, $height: auto) {
	width: $width;
	height: $height;
}
