:root {
	--brown-background: radial-gradient(234.05% 111.8% at 0% 0%, rgb(91, 72, 58), rgb(38, 36, 37) 100%) rgb(33, 31, 32);
	--white_255: rgb(255, 255, 255);
	--white_246: rgb(246, 246, 246);
	--orange: rgb(241, 205, 179);
	--orange_hover: rgb(253, 220, 196);
	--dark__buttons: rgb(41, 41, 41);
	--dark__76: rgb(76, 76, 76);
	--dark__84: rgb(84, 84, 84);
	--dark__205: rgb(205, 205, 205);
	--nav__active: 3px solid rgb(241, 205, 179);

	--buttons-borderRadius: border-radius: 100px;
	--buttons-padding: padding: 15px 45px 15px 45px;

	--padding-contentInline: padding: 0 40px;

	--Georgia-regular: 'Georgia', 'sans-serif';

	--transition: all 0.3s ease;
}
