.header {
	background: var(--white_255);

	.container {
		padding-block: 30px;

		@include desktop {
			padding-inline: 30px;
		}

		@include bigMobile {
			padding-inline: 20px;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.logo {
	&__title {
		margin-bottom: 10px;
		font-size: 32px;
		line-height: 110%;
		letter-spacing: 2px;
		color: var(--dark__84);
	}

	&__subtitle {
		color: var(--dark__buttons);
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 1.5px;
	}
}
.nav {
	color: var(--dark__84);

	&__list {
		display: flex;

		@include bigMobile {
			position: fixed;
			right: 0;
			top: 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-block: 248px;
			@include sizes(320px, 100vh);
			background: var(--white_255);
			z-index: 1;
			transform: translateX(200%);
			transition: transform 0.5s ease-in-out;
		}

		&_active {
			transform: translateX(0);
			box-shadow: 0 0 0 9999px rgb(0 0 0 / 60%);
		}
	}

	&__item {
		border-bottom: 3px solid transparent;
		cursor: pointer;
		transition: var(--transition);

		@include hover {
			color: var(--dark__buttons);
		}

		&:active {
			border-bottom: var(--nav__active-border);
		}

		&:nth-of-type(2) {
			border-bottom: var(--nav__active-border);
		}

		&:not(:last-of-type) {
			margin-right: 35px;
		}

		@include bigMobile {
			font-size: 32px;

			&:not(:last-of-type) {
				margin-bottom: 43px;
				margin-right: 0;
			}
		}
	}
}

.burger {
	display: none;
	position: relative;
	z-index: 2;
	@include sizes(30px, 22px);
	cursor: pointer;
	transition: var(--transition);

	@include bigMobile {
		display: block;
	}

	&__line {
		position: absolute;
		display: inline-block;
		width: 30px;
		border-bottom: 2px solid #000;

		&:nth-of-type(1) {
			top: 0px;
		}

		&:nth-of-type(2) {
			top: 10px;
		}

		&:nth-of-type(3) {
			top: 20px;
		}
	}

	&_active {
		transform: rotate(90deg);
	}
}
