@use '../../media';
@use '../header';

.header {
	background: var(--white_255);

	.container {
		padding-bottom: 30px;
	}
}

.logo {
	&__title {
		color: var(--dark__84);
	}

	&__subtitle {
		color: var(--dark__buttons);
	}
}

.nav {
	color: var(--dark__84);

	&__list {
		@include media.bigMobile {
			background: var(--white_255);
		}
	}

	&__item {
		@include media.hover {
			color: var(--dark__buttons);
		}

		&:active {
			color: var(--dark__buttons);
			border-bottom: var(--nav__active-border);
		}

		&:first-of-type {
			color: var(--dark__84);
			border-bottom: none;
		}

		&:nth-of-type(2) {
			color: var(--dark__buttons);
			border-bottom: var(--nav__active-border);
		}
	}
}

.burger {
	&__line {
		border-bottom: 2px solid rgb(0, 0, 0);
	}
}